.Tab .nav-scroller.shadow-sm {
  background: #FF7043;
}

.Tab .nav-scroller.shadow-sm span {
  color: rgba(255, 255, 255, .7);
}

.Tab .nav-scroller.shadow-sm span:hover,
.Tab .nav-scroller.shadow-sm span.active {
  color: rgba(255, 255, 255, 1);
}
